<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Login Box Concept</title>
      <link rel='stylesheet' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/style.css">
  
</head>

<body>

<header>
    <h2><a href="/" style="text-decoration:none; color:white;">VJReddit</a></h2>
    <nav>
        <li><a href="/post" style="text-decoration:none; color:white;">Home</a></li>
        <li><a href="/newpost" style="text-decoration:none; color:white;">Post</a></li>
        <li><a href="/news/technology/1" style="text-decoration:none; color:white;">News</a></li>
        <li> 
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </li>
        <% if(!Cuser){ %>
        <li><a href="/register" style="text-decoration:none; color:white;">Sign Up</a></li>
        <li><a href="/login" style="text-decoration:none; color:white;">Login</a></li>
        <% } else { %>
        <li><a href="/logout" style="text-decoration:none; color:white;">Logout</a></li>
        <% } %>

    </nav>
</header>
            <div class="container">
        

        

            