<% include ./partials/header %> 
<div style="text-align: center">
<h1>
    Presently You are not allowed to post on this page
</h1>
<h3>
    If you want to post on this page , verify your email by clicking below
</h3>
<form method="GET" action="/userpost">
    <button class="btn btn-primary">Click</button>
</form>
</div>
<% include ./partials/footer %> 