<% include ./partials/header %> 
<h1>
    Presently You are not allowed to post on this page
</h1>
<h3>
    If you want to post on this page , click below 
</h3>
<form method="GET" action="/userpost">
    <button class="btn btn-primary" onclick="alert('You will be allowed to post only if the admin feels that u r eligible')">Click</button>
</form>
<% include ./partials/footer %> 