<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            VJReddit
        </title>

        <!-- link to include bootsrap and other stylesheets -->
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">        
        <link rel="stylesheet" href="/stylesheets/landing.css"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        
    
</head>

    <body>
    <div class = "container-fluid">
    
    <header>
    <h2><a href="/" >VJReddit</a></h2>
    <nav>
        <li><a href="/post" >Home</a></li>
        <li><a href="/news/technology/1">News</a></li>
        <% if(!Cuser){ %>
        <li><a href="/register" >Sign Up</a></li>
        <li><a href="/login" >Login</a></li>
        <% } else { %>
        <li><a href="/logout" >Logout</a></li>
        <% } %>
        
    </nav>
</header>
<% if(!Cuser){ %>
<div class="own">
  <div class="card-body">
    <p class="card-text">Not an Existing User?</p>
    <br>
    <a href="/register" class="btn btn-outline-primary butt">Sign Up</a>
    <br>
    <br>
    <p class="card-text">Already a User? Start Posting...</p>
    <br>
    <a href="/login" class="btn btn-outline-primary butt">Login</a>
  </div>
</div>
<% } else { %>
<div class="own">
<div class="card-body">
  <h1>Hi <%=Cuser.username%></h1>
  <p class="card-text">Keep Posting Awesome Stuff...</p>
  <br>
  <form method="GET" action="/newpost">
    <button class="btn btn-outline-primary">Post</button>
</form>
  <br>
  <p class="card-text">Keep reading some awesome content...</p>
  <br>
  <a href="/news/technology/1" class="btn btn-outline-primary ">News</a>
</div>
</div>

</div>
<% } %>

</div>
        
</body>
</html>
