<% include partials/header %>

<div class="row text-center" style="display:flex ; flex-wrap: wrap;">
        <% for(var i = 0 ; i<100 ; i++){ %>
            <% if(response.articles[i] != undefined) { %>
            <div class= "col-md-3 col-sm-6">
                <div class= "thumbnail">
                    <img src="<%=response.articles[i].urlToImage%>">
                
                    <div class = "caption">
                        <h4><%= response.articles[i].title %> </h4>
                    </div>
                    <a href="/news/<%=searchObj%>/<%=i%>" class="btn btn-primary">More info</a>
                </div>
            </div>
            <% } %>
        <% } %>
    </div>


    <ul class="pagination">
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
</ul>
   
<% include partials/footer %>